<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container"><%= __('A brand new app.') %></h1>
    <h3 class="container">You're looking at: <code><%= view.pathFromApp + '.' +view.ext %></code></h3>
  </div>
  <div class="main container clearfix">
    <ul class="getting-started">
      <li class="clearfix first">
        <div class="step">
          <div class="sprite one"></div>
          <h3>Get your bearings</h3>
          <p>
            If you're new to Sails, get started <a href="https://sailsjs.com/get-started">here</a>.
            <br/>
            <small>(You'll learn about the framework and explore the files that were generated in this new app.)</small>
          </p>
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <div class="sprite two"></div>
          <h3>Lift your app</h3>
          <p>
            Looks like you already ran <code>sails lift</code> to start up your app server. Nice work!
            <br/>
            <small>(Remember to re-lift after making backend code changes.)</small>
          </p>
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <div class="sprite three"></div>
          <h3>Dive in</h3>
          <p>
            Blueprints are just the beginning.  You'll probably also want to learn how to customize your app's <a href="https://sailsjs.com/documentation/concepts/routes">routes</a>, build custom <a target="_blank" href="https://sailsjs.com/documentation/concepts/actions-and-controllers">actions</a>, set up <a href="https://sailsjs.com/documentation/concepts/policies">security policies</a>, configure your <a href="https://sailsjs.com/documentation/reference/configuration/sails-config-datastores">data sources</a>, and deploy to <a href="http://sailsjs.com/documentation/concepts/deployment">production</a>.
            <br/>
            <small>(For more help getting started, check out the links on this page.)</small>
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
