<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<table id="myTable" class="table" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Common_Name</th>
      <th>Scientific_Name</th>
      <th>Ph_Min</th>
      <th>Ph_Max</th>
      <th>Espacio(M)</th>
      <th>Fijadoras de Nitrogeno</th>
      <th>Aromaticas</th>
      <th>Tipo</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Common_Name</th>
      <th>Scientific_Name</th>
      <th>Ph_Min</th>
      <th>Ph_Max</th>
      <th>Espacio(M)</th>
      <th>Fijadoras de Nitrogeno</th>
      <th>Aromaticas</th>
      <th>Tipo</th>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td>Sandia</td>
      <td>Citrullus lanatus</td>
      <td>5.8</td>
      <td>7.2</td>
      <td>1.5</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>Frutal</td>
    </tr>
  </tbody>
</table>
<script src="/js/table.js"></script>
